p {
    margin: 0; /* Ensure no extra spacing around the paragraph */
    color: #353b3c; /* Text color */
    line-height: 1.6; /* Improves readability */
    font-size: large;
    font-weight: bold;
}
h3
{
    color: #000000;
    margin: 10PX 0;
    text-align: center;
    font-size: large;
}
nav{
    display: flex;
    padding: 5px 130px;
}
.logo
{
    width: 100px;
    cursor: pointer;
}
button 
{
    cursor: pointer;
    background-color: #b3b1b4;
    text-decoration-color: #1f0329;
    border: none;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 320%;
    left: 50%;
    padding: 10px 20px;
    font-size: small;
    font-weight: bold;
}